@using InnoClinic.Authorization.Business.Configuration
@model InnoClinic.Authorization.Business.Models.MessageViewModel
<html>
<head>
    @if (Model.IsEmailVerificationSuccessMessage)
    {
        <meta http-equiv="refresh" content="5;url=@AppUrls.ClientUiUrl">
    }
    <title>@Model.Title</title>
    <style>
        .logo {
            justify-content: center;
            display: flex;
            align-content: center;
            margin-bottom: 10px;
        }

        .message-header {
            font-family: Segoe UI, serif;
            color: #332600;
            font-size: 30px;
            text-align: center;
            margin-top: 40px;
        }

        .text-block {
            margin-top: 10px;
            font-family: Segoe UI, serif;
            color: #332600;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src='@AppUrls.AuthUrl/assets/innoclinic-logo.png' alt='InnoClinic Logo' style='height:100px;' />
    </div>
    <div class="message-header">@Model.Header</div>
    <div class="text-block">
        <p>@Model.Message</p>
        @if (Model.IsEmailVerificationSuccessMessage)
        {
            <p>You will be redirected in 5 seconds. If not, <a href="@AppUrls.ClientUiUrl">click here</a></p>
        }
        <p>You can safely close this window now.</p>
    </div>
</body>
</html>